:ruby
  data = {
    user:       user_name(notification.subject.author),
    idea_title: notification.subject.title,
    idea_link:  link_to("##{notification.subject.id}", notification.subject)
  }

= _('%{user} submitted a new idea "%{idea_title}" (%{idea_link})').html_safe % data