-# Context:
-# - notification (Notification::Base)
-# - message (String)
.notification{ id: "notification#{notification.id}" }
  .message= message
  .footer
    .timestamp= _('%{time} ago') % { time: time_ago_in_words(notification.created_at) }
    = link_to '#' do
      %i.icon-ok
