- limit = local_assigns.fetch(:limit, 15)
- extra_paticipants = idea.participants.length - limit
.user-list.user-list-inline.pull-left<>
  - idea.participants.take(limit).each do |user|
    = render user, format: :avatar

