-# Context:
-# - idea (Idea)

.idea_container.af-mutable-content
  .idea-mini[idea]{ class:idea.state_name }
    .meta.top.clearfix.af-mutable
      = render 'idea_rating', idea:idea
    .body{ class:idea_category_class(idea) }
      %h3.title
        = link_to idea_path(idea) do
          %span= idea.title

    .meta.bottom.clearfix.af-mutable
      = render 'idea_people', idea:idea, limit:3