- limit = local_assigns.fetch(:limit, 15)
- extra_paticipants = idea.participants.length - limit
.people<
  - idea.participants.take(limit).each do |user|
    = render user, format: :avatar
  - if extra_paticipants > 0
    = " …"