- if idea.star_rating
  .idea-rating.pull-left.pull-left-spaced{ title: idea_rating_message(idea), :'data-placement' => 'right', :'data-container' => '.container' }<
    - if idea.star_rating == 0
      %i.fa.fa-star-o
    - else
      - idea.star_rating.times do
        %i.fa.fa-star
- else
  .idea-rating.pull-left.pull-left-spaced{ title: idea_rating_message(idea), :'data-placement' => 'right', :'data-container' => '.container' }<
    %i.fa.fa-ellipsis-h
