- limit = local_assigns.fetch(:limit, 15)
- extra_paticipants = idea.participants.length - limit
.people.user-list<
  - idea.participants.take(limit).each do |user|
    = render user, format: :avatar

