-# Context: idea (Idea)
- if idea.sized?
  %span.ideas-sizing.badge{ :title => s_('Tooltip|This shows how an architect and a product manager have sized the idea.') }
    %i.icon-cog
    = idea_size_human idea.size
