-# Context: idea (Idea)
- if idea.sized?
  %span.ideas-sizing.badge{ :title => s_('Tooltip|An architect and a product manager have sized the idea as a %{size} effort.') % { :size => idea_size_human_long(idea.size) } }
    %i.icon-cog
    = idea_size_human idea.size
