-# Context: idea (Idea)
.idea-wizard
  %table
    %tbody
      %tr
      - current_class = :past
      - Idea::StatesForWizard.each do |state|
        :ruby
          state.gsub!(/.*\|/,'')
          case current_class
          when :past   then current_class = (idea.state == state) ? :active : past
          when :active then current_class = :future
          end
        %td{ class: current_class }= _(state).titleize
