- title _("Ideas"), :show_title => false
.row
  .span9
    - @ideas.each do |idea|
      = render 'idea', :idea => idea, :collapsed => true, :title_type => :link, :status => :header
  .span3
    / filters will go here
