- title @idea.title, :show_title => false

= render 'idea', :idea => @idea, :collapsed => false

#comments
  = render 'comments/form', :comment => Comment.new(:idea => @idea)
  = render @idea.comments