@import compass
@import application/variables

#welcome-index

  #states
    margin-left:  0
    text-align:   center
    li
      +inline-block
      vertical-align: baseline
      &:last-child
        // +box-shadow(0px 1px 5px $major_color)
        background-color: $major_color

  h4 i
    margin-right: 1ex
  #pitch p
    text-align: justify
    +hyphens(auto)
