@import compass
@import application/variables
@import application/mixins

.af-card
  // +gradient-box($wellBackground)
  background-color: $wellBackground
  +box-shadow($standard_box_shadow)
  @extend .af-category-colored

.af-category-label
  +square(0.9em)
  @extend .af-card
  @extend .af-category-colored

  display:      inline-block
  margin-right: 1ex

.af-category-colored
  @for $total from 1 through 6
    @for $index from 1 through $total
      &.category-#{$index}-of-#{$total}
        $color: hsl(255.0 * ($index - 1) / $total, 25%, 85%)
        background-color: $color
  &.no-category
    background-color: hsl(0, 0%, 85%)
