@import compass/css3/box-sizing
@import compass/css3/transition

div.af-mini-acordion
  > div
    +box-sizing(border-box)
    +transition-property(height)
    +transition-duration(250ms)
    +transition-timing-function(linear)
    overflow: hidden

    & + div
      height: 4px
    &:hover
      height: inherit
  &:hover > div
    height: inherit
