:ruby
  idea = notification.subject.subject.idea
  data = {
    user:       user_name(notification.subject.user),
    idea_link:  link_to(idea.title, idea)
    upvoted_or_downvoted: notification.subject.up ? _('upvoted') : _('downvoted')
  }

= _('Your comment on %{idea_link} was %{upvoted_or_downvoted}').html_safe % data
