:ruby
  idea = notification.subject.subject
  data = {
    user:       user_name(notification.subject.user),
    idea_link:  link_to(idea.title, idea)
  }

= _('%{user} endorsed %{idea_link})').html_safe % data
