-# Context:
-# - notification (Notification::Base)
- partial = "notifications/#{notification.class.name.demodulize.underscore}"
.notification-line[notification]
  %span.message= render partial, notification:notification
  %span.timestamp= _('%{time} ago') % { time: time_ago_in_words(notification.created_at) }
