.row
  .span12
    %h1= _('Release notes')

    .well
      :markdown
        ### Next
        
        New features:

        - idea drafts
        - account owners can act as another user
        - Kanban board-style idea layout (optional)
        - per-status help text to idea pages
        - per-angle help text to idea listings
        - report runtime errors to Sentry

        Fixes:

        - when creating ideas, the first category is no longer the default
        - users can set an idea to "no category"
        - user list ordered by first name
        - card header/footer no longer hidden on idea page
        - dropdowns now work on mobile browsers
        - sort by rating now puts unsized idea at the bottom, not the top
        - copy fixed in the "sorry, no idea" banner

        Improvements:

        - UX for idea create/edit errors
        - idea category in card header
        - header restyled
        - filters moved to a responsive navigation bar with dropdowns
        - semantics of "buildable" angle
        - renamed "discussable" angle to "all ideas"
        - removed "alpha" badge
        - more participant avatars shown for an idea

    .well
      :markdown
        ### 6 February 2013 (3bc91fa)

        - Fixes authentication security
        - Redirects to SSL automatically
        - Restyles state, sizing, actions on cards
        - Fixes some Markdown rendering issues (lists in comments, block quotes)
        - Paginates notifications

    .well
      :markdown
        ### 23 January 2013 (89767581)

        This is the first post-alpha release.

        - Fixes Omniauth issues
        - Raises the minimum votes per idea to 2
        - Lets all account members edit an idea, not just the author
        - Prevents spammy notifications on a user's own actions
        - Avoids sending empty notifications emails
        - Marks notifications as read when emailing
        - Adds marketing messages and release notes
