.row
  .span12
    %h1= _('Release notes')

    .well
      :markdown
        ### 23 January 2013

        This is the first post-alpha release.

        - Fixes Omniauth issues
        - Raises the minimum votes per idea to 2
        - Lets all account members edit an idea, not just the author
        - Prevents spammy notifications on a user's own actions
        - Avoids sending empty notifications emails
        - Marks notifications as read when emailing
        - Adds marketing messages and release notes
