@import application/variables
@import application/mixins
@import application/components/cards
@import application/components/section
@import compass
@import compass/css3/images

//
// general idea styling -- used on all index pages and show pages
//

// container
.idea_container
  @extend .af-section
  position: relative

// idea block itself
.idea
  @extend .af-card

  .body
    padding:          $section_padding

  .title
    margin-top: 0
    a
      text-decoration: none
      span
        color: $textColor

  .meta
    padding:  0
    text-align: left
    font-size: smaller
    > *
      padding: 0 $section_padding

  .people
    float:        left
    padding:      0
    position:     relative
    overflow:     hidden
    text-align:   left
    white-space:  nowrap

    .user
      float:      left
      width:      $idea_banner_height
      
  .actions
    li
      display: inline
      margin: 0 0.33ex
      &.separator:before
        color: gray
        content: "|"


.idea-rating
  position: relative

// maxi-format idea specifics
.idea-maxi
  .meta
    height:   $idea_banner_height
    > *
      +height($idea_banner_height)
      +box-sizing(border-box)
  .title
    white-space:      nowrap
    text-overflow:    ellipsis
    overflow:         hidden
    i
      font-size:        medium


// mini-format idea overrides
.idea-mini
  .meta.top
    height:      auto
  .body
    padding:     0.66ex
  .title
    margin:      0
    font-size:   medium
    font-weight: normal
    line-height: 1.3
