@import application/variables
@import application/mixins
@import application/components/cards
@import application/components/section
@import compass
@import compass/css3/images

//
// general idea styling -- used on all index pages and show pages
//
$idea_banner_height: 28px
$idea_avatar_offset: 4px

// container
.idea_container
  @extend .af-section
  position: relative

// idea block itself
.idea
  @extend .af-card

  .body
    padding:          $section_padding

  .title
    margin-top: 0
    a
      text-decoration: none
      span
        color: $textColor

  .meta
    padding:  0
    text-align: left
    font-size: smaller
    > *
      padding: 0 $section_padding

  .people
    float:        left
    // padding:      0
    position:     relative
    overflow:     hidden
    text-align:   left
    white-space:  nowrap

    +height($idea_banner_height)

    .user
      float:         left
      margin-top:    $idea_avatar_offset
      margin-bottom: $idea_avatar_offset
      margin-right:  2px
      +square($idea_banner_height - 2 * $idea_avatar_offset)
    .avatar
      +square($idea_banner_height - 2 * $idea_avatar_offset)

  .actions
    li
      display: inline
      margin: 0 0.33ex
      &.separator:before
        color: gray
        content: "|"


.idea-rating
  position: relative

// maxi-format idea specifics
.idea-maxi
  .meta
    height:   $idea_banner_height
    > *
      +height($idea_banner_height)
      +box-sizing(border-box)
  .title
    white-space:      nowrap
    text-overflow:    ellipsis
    overflow:         hidden
    i
      font-size:        medium


// mini-format idea overrides
.idea-mini
  $title-line-height: 1.3
  $title-lines-shown: 3

  .meta.top
    // height:      auto
  .body
    padding:     0.66ex
  .title
    margin:      0
    font-size:   medium
    font-weight: normal

    // hide everything but the first N lines, but open on hover
    +transition-property(max-height)
    +transition-duration($transition-duration)
    line-height: $title-line-height
    min-height:  $title-line-height * $title-lines-shown * 1em
    max-height:  $title-line-height * $title-lines-shown * 1em
    overflow:    hidden

    &:hover
      max-height:  1000em
