@import application/mixins
@import application/variables

.notification
  margin:         $section_spacing 0
  &:first-child
    margin-top:     0

  &.read td
    opacity:        0.5

  .footer
    +height(1.5em)
    float:            right
    .timestamp
      float:            left
    a
      display:          block
      margin-left:      .5ex
      float:            left

.notification-line
  +single-line
