@import compass/css3/border-radius
@import compass/css3/transform
@import compass/css3/filter
@import compass/css3/box-sizing
@import compass/css3/opacity
@import application/mixins
@import application/variables

.user
  position: relative
  width:    100px
  height    auto

  .avatar
    +border-radius(1000px)

    // make the avatar fill the user box
    +box-sizing(border-box)
    width:     100%
    height:    auto

  .name
    white-space: nowrap

  > a
    display: block

// rollover
.user a .avatar
  +translateZ(0)
  +filter(contrast(0.95) saturate(0) sepia(0.5))
  &:hover
    +filter(none)


// size

.user-large
  width:              $large-avatar-size
  .avatar + .name
    text-align:       center
  margin-right:       2em
  margin-bottom:      2em


// layout

.user-fit-width
  width:  100%
  height: auto



.user-inline
  line-height: 0
  display: inline-block
  .name
    display: inline-block


// state

.user-hidden
  +opacity(0.5)

.user-no-hover .avatar
  +filter(none)

// collection

.user-list-inline
  line-height:        0
  .user
    @extend .user-inline
    margin-right:     0.33ex
    display:          inline-block
  .user, .avatar, a
    height:           100%
    width:            auto

