- flash.each do |name, msg|
  - css_class = name.to_s.gsub(/_/, '-')
  %div{ class: "flash flash-banner alert alert-#{css_class}"}
    .container
      = msg
      %button.close{ :'data-dismiss' => 'flash' }<
        %i.icon-remove
