- flash.each do |name, message|
  - css_class = name.to_s.gsub(/_/, '-')
  %div{ class: "flash flash-banner alert-#{css_class}"}
    .container
      = message
      %button.close{ :'data-dismiss' => 'flash' }<
        %i.icon-remove
