- flash.each do |name, message|
  - css_class = name.to_s.gsub(/_/, '-')
  %div{ class: "af-flash af-flash-#{css_class}" }
    .container
      = message
      %button.close{ :'data-dismiss' => 'af-flash' }<
        %i.fa.fa-times
