#rendered_with_ujs
  = render content
  :coffeescript
    $('#rendered_with_ujs').each ->
      children = $(this).children()
      $(this).replaceWith(children)
      $(children).activateUnobtrusiveJavascript()
