@import application/variables

=height($dim)
  display:     block
  height:      $dim
  line-height: $dim

=square($dim)
  height:      $dim
  width:       $dim

=absolute($x, $y)
  position:    absolute
  left:        $x
  top:         $x

=appfab-box
  +background-image(linear-gradient(left top, lighten($light_gray, 50%), $light_gray))
  +box-shadow($medium_gray 0px 2px 5px)

=single-line
  overflow:         hidden
  white-space:      nowrap
  text-overflow:    ellipsis
