
// Dimensions
$section_padding: 1ex
$section_spacing: 3ex


// Colors
$light_gray:      #f3f2f4
$medium_gray:     #cccccc
$badge_color:     #fab037

$background_lite: #906847
$background_dark: #652f02

$major_color:     #fa8037
$progress_color:  rgba($medium_gray, 0.5)


// Text shadows
$small_text_shadow: rgba(black, .5) 0px 1px 2px
