@import compass
@import application/mixins
@import application/variables

#header
  a[href]:hover
    color: $major_color

  li.name a
    padding-right:  .33ex
  li.karma a
    padding-left:   .33ex
    i
      margin:         0