- title "Account"

%p
  %strong Name:
  = @account.name

%p
  = link_to "Edit", edit_account_path(@account)
  |
  = link_to "Destroy", @account, confirm: 'Are you sure?', method: :delete
  |
  = link_to "View All", accounts_path
